---
layout: default
permalink: /f/lainlain/
dataid: lainlain
---
<div class="container mt-8 p-4 sm:p-8  mx-auto text-gray-800">
    <h2 class="tracking-wide text-base uppercase font-normal">
      Dokumen Perpajakan
    </h2>
    <h1 class="mb-2 tracking-wide text-3xl md:text-5xl font-semibold">
      Lain-Lain
    </h1>
    
  
    <div id="aspekpajak" class="flex flex-wrap container mt-8 mx-auto">
      <!-- Item -->
      {% capture namatopik %}{{ page.dataid }}{% endcapture %}
      {% assign sort1 = site.fitur | where: "fitur", namatopik %}
      {% for titles in sort1 %}
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 my-2">
        <div class="shadow-lg rounded-lg shadow-lg bg-white">
          <div class="flex flex-col p-4">
            <div class="flex items-center">
                <div class="flex-shrink-0 w-10 h-10">
                    {% if titles.img %}
                    <img class="w-full h-full rounded-full"
                    src="{{site.baseurl}}/assets/icon/{{page.dataid}}/{{titles.img}}" alt="{{titles.title}}" />
                    {% else %}
                    <div class="bulat-{{ forloop.index0 }} border-2 rounded-full border-gray-600 w-6 h-6 mr-2 mt-1"></div>
                    {% endif %}
                </div>
                <div class="ml-3">
                    <p class="text-md font-semibold truncate">
                        {{ forloop.index0 | plus: 1 }}. {{titles.title}}
                    </p>
                    <p class="text-gray-400 text-xs">{{titles.topik}}</p>  
                </div>
            </div>         
            <a href="{{titles.linkurl}}" class="self-end mt-4 text-xs text-reddish-500" target="_blank">Show more...</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>