---
layout: default
style: "font-family: 'Montserrat', sans-serif;"
---
<div class="container mt-8 p-4 sm:p-8  mx-auto text-gray-800">
    
  <h1 class="mb-2 tracking-wide text-base uppercase font-normal">Resume</h1>
  <h2 class="tracking-wide text-3xl md:text-5xl font-semibold">
    Perpajakan
  </h2>

  <div class="container mt-8 mx-auto flex flex-wrap md:shadow-lg">
    <div class="flex-auto w-full md:w-1/2 mb-6 md:mb-0 bg-white shadow-lg md:shadow-none">

      <div class="flex flex-wrap justify-between lg:flex-no-wrap px-4 sm:px-6 py-8 bg-grey-lighter text-gray-800 text-sm">
        <div class="mb-6 lg:w-3/5 lg:mb-0">
          <h3 class="mb-3 text-black text-3xl font-semibold">KUP</h3>
          <p>
            Ketentuan Umum dan Tatacara Perpajakan
          </p>
        </div>
        <div class="lg:flex-no-shrink hidden">
          30-day free trial
          <span class="text-3xl block my-2 text-black font-semibold">$149</span>
          <strong>Tahunan</strong>
        </div>
      </div>
      <div class="px-4 sm:px-6 py-8">
        <ul class="list-reset text-black mb-8">
          {% capture kup %}kup{% endcapture %}
          {% assign dataidCategory = site.data[kup] | sort: "Last Updated" | reverse %}
          {% for item in dataidCategory limit:15 %}  
            {% include forItem.html content=kup %}
          {% endfor %}
        </ul>
        <a href="{{ site.baseurl }}/f/kup/" class="inline-block p-4 rounded text-sm text-gray-800 no-underline uppercase border-2 border-kup">Resume KUP</a>
      </div>
    </div>

    <div class="flex-auto w-full md:w-1/2 mb-6 md:mb-0 shadow-lg md:shadow-none">

      <div class="flex flex-wrap justify-between lg:flex-no-wrap px-4 sm:px-6 py-8 text-whiter text-sm bg-darkest">
        <div class="mb-6 lg:mb-0">
          <h3 class="mb-3 text-3xl font-semibold">PPh</h3>
          <ul class="list-reset mb-8 leading-normal">
            {% capture pph %}pph{% endcapture %}
            {% assign dataidCategory = site.data[pph] | sort: "Last Updated" | reverse %}
            {% for item in dataidCategory limit:6 %}  
              {% include forItem.html content=pph %}
            {% endfor %}
          </ul>
          <a href="{{ site.baseurl }}/f/pph/" class="inline-block p-4 rounded text-sm text-gray-100 no-underline uppercase border-gray-100 border-2">Resume PPh</a>
        </div>
      </div>
      <div class="px-4 sm:px-6 py-8">
        <h3 class="mb-3 text-3xl font-semibold">PPN</h3>
        <ul class="list-reset mb-8 leading-normal">
          {% capture ppn %}ppn{% endcapture %}
          {% assign dataidCategory = site.data[ppn] | sort: "Last Updated" | reverse %}
          {% for item in dataidCategory limit:6 %}  
            {% include forItem.html content=ppn %}
          {% endfor %}
        </ul>
        <a href="{{ site.baseurl }}/f/ppn/" class="inline-block p-4 rounded text-sm text-gray-800 no-underline uppercase border-2 border-ppn">Resume PPN</a>
      </div>
    </div>
  </div>
</div>


<!-- Aspek Pajak  -->
<div class="container mt-8 p-4 sm:p-8  mx-auto text-gray-800">
    
  <h1 class="mb-2 tracking-wide text-base uppercase font-normal">
    Aspek Pajak
  </h1>
  <h2 class="tracking-wide text-3xl md:text-5xl font-semibold">
    Per Industri
  </h2>

  <div id="aspekpajak" class="flex flex-wrap container mt-8 mx-auto">
    <!-- Item -->
    {% capture namatopik %}aspekpajak{% endcapture %}
      {% assign sort1 = site.fitur | where: "category", namatopik | sort: "modifiedTime" %}
      {% for titles in sort1 limit:12 %}
      {% if titles.topik != nil %}
      <div class="w-full md:w-1/2 lg:w-1/3 px-2 my-2">
        <div class="shadow-lg rounded-lg shadow-lg bg-white">
          <div class="flex flex-col p-4">
            <div class="flex items-center">
                <div class="flex-shrink-0 w-10 h-10">
                    {% if titles.img %}
                    <img class="w-full h-full rounded-full"
                    src="{{site.baseurl}}/assets/icon/{{namatopik}}/{{titles.img}}" alt="{{titles.title}}" />
                    {% else %}
                    <div class="bulat-{{ forloop.index0 }} border-2 rounded-full border-gray-600 w-6 h-6 mr-2 mt-1"></div>
                    {% endif %}
                </div>
                <div class="ml-3">
                    <p class="text-md truncate font-semibold whitespace-no-wrap">
                        {{ forloop.index0 | plus: 1 }}. {{titles.title}}
                    </p>
                    <p class="text-gray-400 text-xs">{{titles.topik}}</p>  
                </div>
            </div>         
            <a href="{{titles.linkurl}}" class="self-end mt-4 text-xs text-reddish-500" target="_blank">Show more...</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<!-- lain-lain  -->
<div class="container mt-8 p-4 sm:p-8  mx-auto text-gray-800">

  <h1 class="hidden mb-2 tracking-wide text-base uppercase font-normal">
    semua yang tidak
  </h1>
  <h2 class="tracking-wide text-3xl md:text-5xl font-semibold">
    Lain-Lain
  </h2>

  <div id="lainlain" class="flex flex-wrap container mt-8 mx-auto">
    <!-- Item -->
    {% capture namatopik %}lainlain{% endcapture %}
    {% assign sort1 = site.fitur | where: "category", namatopik | sort: "modifiedTime" %}
    {% for titles in sort1 limit:12 %}
    {% if titles.topik != nil %}
    <div class="w-full md:w-1/2 lg:w-1/3 px-2 my-2">
      <div class="shadow-lg rounded-lg shadow-lg bg-white">
        <div class="flex flex-col p-4">
          <p class="text-md truncate">{{titles.title}}</p>
          <p class="text-gray-600 text-xs">{{titles.topik}}</p>
          <a href="{{titles.linkurl}}" class="self-end mt-4 text-xs" target="_blank">Show more...</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>