---
---
$background: #f9f4ef; //#eff0f3;
$text-whiter: #fffffe;
$bg-gray-darkest: #272343;
$primary: #2a2a2a;
$headline: #0d0d0d;
$button: #ff8e3c;
$button-200: #ffd803;
$button-text: #0d0d0d;
$stroke:#0d0d0d; 
$main: #eff0f3;
$highlight: #ff8e3c;
$secondary: #fffffe;
$tertiary: #ff5470;

//https://codepen.io/ajerez/pen/KwYNWZ
$color1: #C8DAE6;
$color2: white;
$color3: #B8B8B8;
$color4: #ffd803;
$color5: #2092A9;
$color6: #f3d2c1;
$color7: #bae8e8;
$kup: #ff8e3c;
$pph: #ff5470;
$ppn: #ffd803;

.bg-red-light {
  background-color: $background!important;
}

.text-paragraph {
  color: $primary;
}


.text-whiter {
  color: $text-whiter;
}
.bg-darkest {
  background-color: $bg-gray-darkest;
}

.bg-pph {
  background-color: $pph;
}

.bg-kup {
  background-color: $kup;
}

.bg-ppn {
  background-color: $ppn;
}

.border-kup, .border-ppn {
 border-color: $primary;
}
.bg-main {
  background: $color6;
}
.bg-item {
  background: $main;
}

.weather-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: 0;
  float: right;
  margin: 0px 20px 0 10px;
  animation: weather-icon-move 5s ease-in-out infinite;
}
.sun { 
  background: $highlight;
border-radius: 50%; 
background:linear-gradient( to bottom left, rgba(255,235,59,1) 0%,rgba(249,168,37 ,1) 90%);
	box-shadow: 1px 1px 30px rgba(255,160,0 ,1);
  animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@keyframes light {
  from {
      box-shadow: rgba(255,255,0,0.6) 0 0 0 5px;
  }
  to {
      box-shadow: rgba(255,210,0,0.2) 0 0 0 10px;
  }
}

@keyframes weather-icon-move {
	50% { 
        transform: translateY(-8px); 
    }
}