---
---
$background: #fffffe; //#eff0f3;
$paragraph: #5f6c7b;
$text-whiter: #fffffe;
$bg-gray-darkest: #272343;
$primary: #2d334a;
$headline: #0d0d0d;
$button: #ff8e3c;
$button-200: #ffd803;
$button-text: #0d0d0d;
$stroke:#272343; 
$main: #fffffe;
$highlight: #ffd803;
$secondary: #e3f6f5;
$tertiary: #bae8e8;

//https://codepen.io/ajerez/pen/KwYNWZ
$color1: #C8DAE6;
$color2: white;
$color3: #B8B8B8;
$color4: #ffd803;
$color5: #2092A9;
$color6: #f3d2c1;
$color7: #bae8e8;
$kup: #ff8e3c;
$pph: #ff5470;
$ppn: #ffd803;
$color8: #ff0488;
$color9: #ff542b;

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.text-reddish-500 {
  color: $color9;
}

.background {
  background-color:$background !important;
}

.text-paragraph {
  color: $paragraph;
}

.text-whiter {
  color: $text-whiter;
}
.bg-darkest {
  background-color: $bg-gray-darkest;
}

.bg-pph {
  background-color: $pph;
}

.bg-kup {
  background-color: $kup;
}

.bg-ppn {
  background-color: $ppn;
}

.bg-aspekpajak {
  background-color: $color4;
}

.bg-lainlain {
  background-color: $color6;
}

.border-kup, .border-ppn {
 border-color: $primary;
}
.bg-main {
  background: $color6;
}
.bg-item {
  background: $main;
}

.weather-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: 0;
  float: right;
  margin: 0px 20px 0 10px;
  animation: weather-icon-move 5s ease-in-out infinite;
}
.sun { 
  background: $highlight;
border-radius: 50%; 
background:linear-gradient( to bottom left, rgba(255, 4, 72, 1) 0%,rgba(255, 164, 72, 1) 90%);
	box-shadow: 1px 1px 30px rgba(255, 69, 43, 1);
  animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@keyframes light {
  from {
      box-shadow: rgba(255, 226, 69, 0.8) 0 0 0 3px;
  }
  to {
      box-shadow: rgba(255,210,0,0.2) 0 0 0 10px;
  }
}

@keyframes weather-icon-move {
	50% { 
        transform: translateY(-8px); 
    }
}

$color-1: rgb(130, 212, 127);
$color-2: adjust-hue($color-1, 110%);
// Amount of steps to iterate through color mix
$steps: 100;

// Mix colors to go from $color-1 ro @color-2 with 9 total steps
@for $i from 0 to $steps {
	.bulat-#{$i + 1} {
		background: mix($color-1, $color-2, percentage($i / ($steps - 1)));
	}
}

//untuk navbar

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	text-decoration:none;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	/* top: 2rem;the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-10px;
}

	
/* Change this in order to change the Dropdown symbol */
nav > li > a:after { content:  ' +'; }
nav > li > a:only-child:after { content: ''; }